.requestor {
  padding: 20px 20% 20px;
}
.requestor-header {
  text-align: center;
}

.request {
  margin-right: 12.5px;
  margin-left: 12.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.requestor-footer {
  text-align: center;
}

.left-float-right-button {
  margin-left: 10px;
  float: right;
  /* margin-bottom: 10px; */
}

.full-width {
  width: 100%;
}

.text-float-right {
  float: right;
  margin-top: 7px;
}

.text-float-left {
  float: left;
  margin-top: 7px;
}

.opacity-0 {
  background-color: rgba(51, 170, 51, 0) !important;
  border: none;
}

.top-text {
  margin-top: 7px;
}

.card-header {
  border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
}

.acc-body {
  padding: 7.5px 12.5px;
}