.alert {
  color: white;
  padding: 10px 0px 0px 0px;
}
.login {
  padding: 0px 10% 5px
}

/* input {
  margin-right: 10px;
} */

.left-float-right-button {
  margin-left: 10px;
  float: right;
}

.label-top {
  margin-top: 5px;
}

/* .login-form {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%) !important;
}
*/

