.recipient {
  padding: 30px 20% 0px;
  background-color: rgba(50, 0, 50, 0.10);
  height: 100%
}
.recipient-header {
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
}

.recipient-letters {
  margin-bottom: 10px;
  width: 100%;
}

.recipient-requestorslist {
  /* max-height: 539px; */
  max-height: 441px;
  min-height: 441px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 46.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.recipient-footer {
  text-align: center;
  width: 100%;
}

.recipient-dual {
  padding: 30px 3em 0px;
  background-color: rgba(50, 0, 50, 0.10);
  height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.left-float-right-button {
  margin-left: 10px;
  float: right;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.text-float-right {
  float: right;
  margin-top: 7px;
}

.text-float-left {
  float: left;
  margin-top: 7px;
}
