.recipient {
  padding: 20px 20% 20px;
}
.recipient-header {
  text-align: center;
}

.recipient-letters {
  margin-bottom: 10px;
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.recipient-footer {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.left-float-right-button {
  margin-left: 10px;
  float: right;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.text-float-right {
  float: right;
  margin-top: 7px;
}

.text-float-left {
  float: left;
  margin-top: 7px;
}
