.recipient-list-body {
  padding: 8px 0px;
}

.recipient-entry {
  background-color: RGBA(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.close-button {
  margin-right: 12.5px;
}

.recipient-display {
  columns: 2 auto;
}

.recipient-placeholder {
  height: 49px;
  margin-bottom: 10px;
}
