.writer {
  padding: 10px 20% 10px;
}

.writer-letterslist {
  /* max-height: 539px; */
  max-height: 441px;
  min-height: 441px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 46.5px;
}

.writer-header {
  text-align: center;
  width: 100%;
}

.writer-letters {
  margin-bottom: 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.writer-footer {
  text-align: center;
  width: 100%;
}

.writer .writer-letterslist {
  max-height: 539px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.left-float-right-button {
  margin-left: 10px;
  float: right;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.text-float-right {
  float: right;
  margin-top: 7px;
}

.text-float-left {
  float: left;
  margin-top: 7px;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
